<h1>Currently in <%= @city.name %>:</h1>

<ul>
<% @neighborhoods.each do |neighborhood| %>
  <li><h3><%= neighborhood.name %></h3></li>
  <ul>
    <li>Wind Speed: <%= neighborhood.reports.last.wind_mph %></li>
    <li>Wind Gust Speed: <%= neighborhood.reports.last.wind_gust_mph %></li>
    <li>Wind Direction: <%= neighborhood.reports.last.wind_dir %></li>
    <li>Smell Index: <%= neighborhood.reports.last.smell_rating %></li>
  </ul>
<% end %>
</ul>
